#hero-section
{background-color:rgb(206, 179, 231);}

#Title
{
    font-family:-permanent marker ; font-size:x larger; font-weight:bold; background-color: red;
    font-style: italic; color:black;
}

nav{background-color:yellow}


#aboutus,#Popularbikes,#topbrands,#bodytype
 {background-color:
    hotpink}



.popularbikes,.topbrands,.bodytype
{background-color:rgb(242, 255, 233)}

#Aboutus{background-color:rgb(155, 245, 155);opacity:0.9}
 
#contactus 
{
    background-image: url("./thank-you-gab0fd61fa_1280.jpg"); color:white;
}

#contactus h3
{background-color: rgb(161, 196, 109); 
    width:15rem;
    height: 22px;
color:black;
opacity:0.7}

#contactus p
{background-color: rgb(248, 141, 200);
    width:15rem;
    height: 22px;
    color:black}

#faq
{background-image: url(./seek-g5392441e4_1280.jpg);
    width:15rem;
    height: 22px; 
    
     color:rgb(179, 6, 6);
    background-position:top left;
background-repeat: repeat;

}

#faq h3
{
    background-color: rgb(177, 138, 214); 
    weight: 10px;
color:rgb(209, 7, 7) ;


}