#hero-section
{background-image: url(https://media.istockphoto.com/photos/motocross-racer-rides-through-a-puddle-picture-id492789824?s=612x612);}

#Title
{
    font-family:-permanent marker ; font-size:x larger; font-weight:bold; background-color: red;
    font-style: italic; color:black;
}

nav{background-color:yellow}


#aboutus,#Popularbikes,#topbrands,#bodytype
 {background-color:
    hotpink}



.popularbikes,.topbrands,.bodytype
{background-color:rgb(242, 255, 233)}
 

